@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Space+Mono:wght@400;700&display=swap");
@import url("./CodeEditor.css");

* {
  box-sizing: border-box;
}

:root {
  --heading-font: "Space Mono", system-ui;
  --body-font: "IBM Plex Sans", system-ui;

  --color-brand: #02ff00;
  --color-brand-muted: rgb(2, 150, 0);

  --padding-horizontal: 90px;

  --page-background: black;
  --page-background-alpha: rgba(0, 0, 0, 0.8);

  --result__background-color: black;
  --result__primary-color: var(--color-brand);
  --result__foreground-color: white;
  --result__muted-color: rgb(165, 165, 165);

  --card-width: 352px;

  --page-width: 1152px;

  --snippets_container-background-unfocused: #171717;
  --snippets_container-background-focused: #0017e9;
  --snippets_container-background: var(
    --snippets_container-background-unfocused
  );
  --snippets_container-muted-color: rgb(153, 153, 153);
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--page-background);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  font-weight: normal;
}

.NavigationContainer {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-column-gap: 28px;
  align-items: center;
}

.NavigationLink,
.NavigationLink:visited {
  font-weight: bold;
  font-family: var(--heading-font);
  font-size: 1rem;
  text-transform: uppercase;
  display: block;
  border-bottom: 1px solid transparent;
  text-decoration: none;
}

.SnippetList,
.NewBenchmarkPageContent {
  display: grid;
  grid-row-gap: 16px;
}

.NewBenchmarkPageContent {
  margin-bottom: 42px;
}

.NavigationLink:hover {
  border-bottom-color: var(--color-brand);
}

.NavigationLink--inactive {
  color: rgb(165, 165, 165);
}

.NavigationLink--active {
  color: var(--color-brand);
}

.NavigationLink--inactive:hover {
  cursor: pointer;
  color: var(--color-brand);
}

.LandingHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px var(--padding-horizontal);
  background-color: var(--page-background-alpha);
  backdrop-filter: blur(2px);
  position: sticky;
  top: 0;
  z-index: 999;
}

.HeroContainer {
  padding: 34px var(--padding-horizontal);
  width: 100%;
  display: flex;
}

.Gallery,
.HeroContainer,
.LandingHeader {
  max-width: var(--page-width);
  margin: 0 auto;
}

.GalleryList {
  padding: 34px var(--padding-horizontal);
}

.GalleryList {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, var(--card-width));
}

.HeroContainer {
  align-items: center;
}

.Hero {
  flex: 1;
}

.Description {
  margin-bottom: 24px;
}

.Tagline,
.Hero-demo {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

.Hero-demo {
  margin-left: 48px;
}

.Tagline {
  font-size: 2.2rem;
}

.LinkButton {
  color: black;
  background: none;
  outline: none;
  background-color: var(--color-brand);
  font-weight: bold;
  font-family: var(--heading-font);
  font-size: 1.2rem;
  padding: 10px 17px;
  text-transform: uppercase;
  width: min-content;
  text-decoration: none;

  white-space: nowrap;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  transition: transform 0.1s linear;
}

.LinkButton:hover {
  transform: scale(1.03, 1.03);
}

.LinkButton-arrow {
  animation: arrow-move-animation 1s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0.1s;
  transform: translateX(0px) scale(1, 1);
  animation-play-state: paused;
}

.LinkButton:hover .LinkButton-arrow {
  animation-play-state: running;
}

@keyframes arrow-move-animation {
  0% {
    transform: translateX(0px) scale(1, 1);
  }
  100% {
    transform: translateX(4px) scale(1.1, 1.1);
  }
}

.LinkButton-arrow {
  margin-left: 12px;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
}

.ResultCard--blue,
.ResultCard--blue * {
  --result__background-color: #0017e9;
  --result__primary-color: var(--color-brand);
  --result__foreground-color: white;
  --result__muted-color: rgb(165, 165, 165);
}

.ResultCard {
  padding: 16px;
  max-width: var(--card-width);

  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: auto;
  grid-row-gap: 16px;

  background-color: var(--result__background-color);
  color: var(--result__foreground-color);
}

.ResultCard-title {
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--body-font);
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.ResultList {
  display: grid;
  grid-row-gap: 8px;
}

.ResultListItem-name {
  font-weight: bold;
  white-space: nowrap;
}

.ResultListItem-progressContainer {
  display: block;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 2px;
  content: "";
}

.ResultListItem-progressValue {
  background-color: var(--result__foreground-color);
  height: 2px;
  content: "";
  display: block;
}

.ResultListItem--fastest .ResultListItem-name {
  color: var(--result__primary-color);
}

.ResultListItem--fastest .ResultListItem-progressValue {
  background-color: var(--result__primary-color);
}

.ResultListItem--slowest .ResultListItem-progressValue {
  background-color: var(--result__muted-color);
}

.ResultListItem--slowest .ResultListItem-name {
  color: var(--result__muted-color);
}

.ResultListItem {
  grid-template-columns: 100px 100px;
  display: grid;
  grid-column-gap: 6px;
}

.ListContainer {
  display: flex;
}

.ScoreContainer {
  margin-right: 26px;
}

.Score {
  color: var(--result__primary-color);
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--heading-font);
}

.Operations {
  color: var(--result__muted-color);
  font-size: 1rem;
}

.ResultCard-link {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
}
.ResultCard-linkArrow {
  margin-left: 6px;
}

.BenchmarkHeader,
.SnippetList,
.CodeEditor {
  width: var(--page-width);
  padding: 0px var(--padding-horizontal);
  margin: 0 auto;
}

.BenchmarkHeader {
  display: flex;
}

.TitleInput-container {
  display: flex;
  flex: 1;
  width: 100%;
}

.TitleInput {
  background-color: var(--page-background);
  appearance: none;
  -webkit-appearance: none;
  font-size: 1.5rem;
  box-shadow: none;
  outline: 0;

  border: 0;
  width: 100%;
  margin-right: 32px;
  font-family: var(--heading-font);
  border-bottom: 1px solid transparent;
  color: white;
}
.TitleInput:hover {
  border-bottom-color: var(--color-brand-muted);
}

.TitleInput:focus {
  border-bottom-color: var(--color-brand);
}

.TitleInput,
.SnippetTitle {
  text-transform: uppercase;
}

.SnippetTitle[disabled] {
  background-color: transparent;
}

.SnippetTitle,
.NewSnippetContainer-label {
  background: transparent;
  display: block;
  flex: 1;
  appearance: none;
  -webkit-appearance: none;

  color: white;
  font-family: var(--heading-font);
  height: 100%;
  padding: 16px 12px;
  margin: 0;
  border: 0;
  box-shadow: none;
}

.NewSnippetContainer,
.SnippetContainer *,
.SnippetContainer {
  --snippets_container-background: var(
    --snippets_container-background-unfocused
  );
}

.SnippetContainer {
  position: relative;
}

.SnippetContainer .SnippetOverlay,
.SnippetContainer .SnippetBackground {
  display: none;
}

.SnippetBackground {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 0;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  height: 100%;
  transform-origin: left;
  transform: scaleX(0);
  content: "";
  background-color: var(--color-brand);
  transition: transform 0.12s linear;
}

.SnippetOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  margin: auto 0;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;

  pointer-events: none;
  height: 100%;
  transform-origin: left;

  padding: 16px 34px;
}

.SnippetOverlayLabel {
  font-size: 2rem;
  color: black;
  text-shadow: 0px 0px 1px white;
  filter: contrast(200%);
}

.SnippetOverlayLabel-unit {
  color: #333;
  text-shadow: none;
}

.SnippetContainer--ran .SnippetOverlay,
.SnippetContainer--isRunning .SnippetOverlay {
  display: flex;
}

.SnippetContainer--ran .SnippetBackground,
.SnippetContainer--isRunning .SnippetBackground {
  display: block;
}

.NewSnippetContainer,
.SnippetContainer {
  transition: background-color 0.1s linear;
}

.SnippetIcon {
  display: flex;
  user-select: none;
  -webkit-user-select: none;
  margin-right: 6px;
  margin-left: auto;
}

.SnippetIndexIcon {
  text-transform: uppercase;
  font-family: var(--heading-font);
  font-size: 1.1rem;
  text-align: left;
  margin-left: 21px;
  margin-right: 1ch;
}

.NewSnippetContainer:hover,
.SnippetContainer:hover *,
.SnippetContainer:hover {
  --snippets_container-background: var(--snippets_container-background-focused);
}

.NewSnippetContainer,
.SnippetTitleContainer {
  display: grid;
  flex: 1;
  grid-template-columns: 42px auto;

  align-items: center;
  grid-column-gap: 0;
}

.SnippetTitleContainer {
  position: relative;
  z-index: 10;
}

@media (max-width: 1152px) {
  :root {
    --page-width: 800px;
    --padding-horizontal: 24px;
  }
}

@media (max-width: 800px) {
  :root {
    --page-width: 100%;
    --padding-horizontal: 24px;
  }

  .Hero-demo {
    display: none;
  }
}

@media (max-width: 600px) {
  :root {
    --card-width: 100%;
  }
}

.NewSnippetContainer,
.SnippetContainer {
  background-color: var(--snippets_container-background);
}

.SnippetContainer--isRunning {
  background-color: var(--snippets_container-background-unfocused);
}

.NewSnippetContainer {
  cursor: pointer;
}